@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('./fonts/Roboto.woff2') format('woff2'), url('./fonts/Roboto.woff') format('woff'), url('./fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    color: #FFF;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    height: 500px;
    width: 80%;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    transition: .5s ease-in-out;
}

.slide {
    position: relative;
    background-image: url('./img/BG.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 12, 58, 0.438);
    top: 0;
    left: 0;
    z-index: -1;
}

.slide__title {
    padding: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    z-index: 2;
    width: 100%;
}

.slide__main {
    display: flex;
    width: 70%;
    z-index: 2;
    margin-top: 4%;
}

.slide__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
}

.slide__person-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    margin-right: 20px;
}

.slide__person-name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
}

.slide__person-descr {
    font-style: normal;
    width: 80%;
    line-height: 23px;
    text-align: center;
}

.slide__person-photo {
    border-radius: 50%;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;right: 0;bottom: 40px;
    margin: auto;
    width: 20%;
    z-index: 2;
}

.pagination-item {
    background: #414778;
    border: 2px solid #EC406E;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-item--active {
    background: #EC406E;
    border: 1px solid #000000;  
}

.nav-button {
    font-size: 100px;
    background-color: transparent;
    position: absolute;
    bottom: 0;top: 0;margin: auto 0;
    outline: none;
    z-index: 2;
}

.nav-button--prev {
    transform: rotate(180deg);
    left: 50px;
}

.nav-button--next {
    right: 50px;
}