.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 30px;

    background: #ff5d5d;
    color: #ffffff;
}

.header a {
    color: #ffffff;
}