* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

html {
    width: 100%;
    height: 100%;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/257418/andy-holmes-698828-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    color: rgba(255,255,255,.87);
}

p {
    font-size: 150px;
    font-weight: 500;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    font-size: 15px;
    text-decoration: none;
    background-color: rgb(255, 136, 0);
    color: #333333;
    padding: 2px 6px 4px 6px;
    border-radius: 5px;
}

.text {
    font-size: 30px;
    margin-bottom: 25px;
}