form {
    width: 350px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

form > * {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.output-field {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 300px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    overflow-y: auto;
}

.messages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    list-style: none;
}

.entry-field {
    width: 79%;
}

.send-message {
    float: right;
    width: 20%;
}

.send-message:hover {
    background-color: rgba(255, 0, 0, 0.3);
}