.messanger {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
#simple {
    width: 50%;
    border: 2.5px solid grey;
    height: 65vh;
}
.chat-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}