* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button, input, textarea, select, option {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a, button {
    transition-property: color, background-image, background-color, transform, opacity, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

::before, ::after {
    box-sizing: border-box;
    transition: 0.3s linear;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: Roboto, sans-serif;
    background-color: #f7f7f7;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 250px 50px 50px;
    max-width: 730px;
}

.card {
    position: relative;
    width: 200px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.card .wrap-img {
    min-height: 180px;
    margin-bottom: 10px;
}

.card img {
    display: block;
    width: 100%;
}

.card p {
    margin-bottom: 10px;
    overflow: hidden;
}

.card a {
    font-size: 12px;
}

.remove {
    position: absolute;
    right: 10px;
    padding: 5px 9px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.3);
    cursor: pointer;
}

form {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

form * {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

form > *:not(:last-child) {
    margin-bottom: 10px;
}

form button:hover {
    background-color: rgba(255, 0, 0, 0.3);
}