.messenger {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center;
}

.messenger__message-list {
    flex: 1 0 auto;
}

.messenger__messenger-form {
    flex: 0 0 auto;
}

.messenger__nochat {
    align-self: center;
    color: #ff5d5d;
    font: 16px Arial;
}