body{
    font: 20px Arial, sans-serif;
}
#root{
    display: flex;
    flex-wrap: wrap;
}
form{
    border: 3px #F0E68C solid;
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    background-color: #F8F2BF;
    margin: 0 auto;
    text-align: center;
}
.card{
    background-color: #F8F2BF;
    width: 300px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    border-radius: 5px;
}
img{
    max-width: 300px;
}
p{
    overflow-wrap: break-word;
    margin: 10px;
}
a{
    display: block;
    cursor: pointer;
    color: #7E65A3;
    text-decoration: underline;
    overflow-wrap: break-word;
}
textarea, input{
    border: none;
    border-radius: 5px;
    min-height: 30px;
    min-width: 200px;
    font: 14px Arial, sans-serif;
}
button{
    min-width: 150px;
    min-height: 30px;
    background-color: #F0E68C;
    border-radius: 5px;
    border: none;
    font: 14px Arial, sans-serif;
    margin: 10px;
}