* {
    margin: 0;
    padding: 0;;
}

#root {
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.userCard {
    width: 310px;
    margin: 20px;
    padding: 10px;
    display: flex;
    background: rgb(84, 132, 221);
    border-radius: 5px;
    color: #fff;
}

.userCard img {
    width: 100px;
    margin-right: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.userCard div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.userCard button {
    margin-top: 12px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    background: white;
    color: rgb(84, 132, 221);
    font-weight: 600;
    cursor: pointer;
}

.addUser {
    background: rgb(214, 212, 212);
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.addUser h1 {
    margin-bottom: 15px;
}

.addUser input {
    width: 230px;
    margin-bottom: 10px;
    padding: 5px 0 5px 5px;
    outline: none;
    border-radius: 3px;
    border: none;
}

.addUser button {
    font-size: 14px;
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
