.container {
    font-family: "Roboto Mono", "Liberation Mono", Consolas, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#number {
    font-size: 50px;
}

.button {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(255, 136, 0);
    color: #333333;
    padding: 2px 6px 4px 6px;
    border-radius: 5px;
}

.text {
    font-size: 30px;
    margin-bottom: 25px;
}