.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
    color: #fff;
}

.header h1 {
    margin-left: 10px;
}

.header-nav {
    position: relative;
    left: 15%;
}

.header-nav a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-right: 15px;
}