.messenger-form {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
    background: #ffffff;
    padding: 30px 30px;

    border-top: 1px solid #f1f1f1;
}

.messenger-form .MuiButtonBase-root {
    height: 40px!important;
}