body {
    width: 60%;
    margin: 0 auto;
}

.messages__list {
    list-style: none;    
}

.message__author {
    margin-right: 25px;
}

.form {
    display: flex;
    align-items: center;
}

.form__field {
    flex-grow: 1;
    flex-shrink: 1;
}

.form__button {
    flex-shrink: 0;
}

.bot {
    color: green;
}