
    ul{
        padding: 0;
        li{
            border-bottom: 1px solid black;
            a{
                text-decoration: none;
                color: white;
                width: 100%;
                padding: 10px 20px;
            }
        }
    }