.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3b5998;
    color: #fff;
}

.header h1 {
    margin-left: 10px;
}

.header-nav {
    display: flex;
    position: relative;
    left: 15%;
}

.header-nav > div span {
    margin-right: 15px;
    text-decoration: underline;
    font-size: 1.2rem;
    cursor: pointer;
}