* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

canvas {
    border: 1px solid grey;
    color: black;
}