.message {
    color: white;
    background-color: #3e6189;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;

    &-owner {
        align-self: flex-end;
    }

    &-bot {
        align-self: flex-start;
    }

    &-sender {
        font-size: 0.8em;
        color: #94c2f3;
    }
}
