.body {
    height: 400px;
    display: flex;
}

.message-field {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-chat {
    position: relative;
    margin: auto;
}