* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button, input, textarea, select, option {
    border: none;
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a, button {
    transition-property: color, background-image, background-color, transform, opacity, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

::before, ::after {
    box-sizing: border-box;
    transition: 0.3s linear;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Roboto, sans-serif;
    background-color: #f7f7f7;
}

#root {
    height: inherit;
}

.wrapper {
    position: relative;
    height: inherit;
    padding-left: 300px;
}