.button-wrapper {
    display: flex;
    justify-content: center;
}
input {
    margin: 10px;
}
.messages {
    width: 400px;
    height: 600px;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}
