.chat-list {
    width: 30%;
}

.chat-link {
    text-decoration: none;
    color: black;
}

.chat-item:hover {
    color: #064add;
}

.active,
.active:hover {
    background: #3b5998;
    color: #fff;
}
