* {
    margin: 0;
    padding: 0;
}

form {
    width: 350px;
    background: #3b5998;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10% auto;
    padding: 2px 20px 20px 20px;
    border-radius: 5px;
}

form label {
    margin-top: 18px;
}

form input {
    float: right;
    border: none;
    outline: none;
    width: 240px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 7px;
}

button {
    width: 150px;
    background: #fff;
    margin-top: 20px;
    padding: 7px;
    border-radius: 10px;
    margin-left: 150px;
    border: none;
    cursor: pointer;
}

.none {
    display: none;
}

.red,
.green {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    right: 28px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 21px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.usernameCircle {
    top: 23px;
}

.emailCircle {
    top: 71px;
}

.passwordCircle {
    top: 119px;
}

.verificationCircle {
    top: 167px;
}

.warning {
    position: absolute;
    right: 68px;
    color: red;
}

.vibration {
    position: relative;
    animation: vib 0.1s ease-in-out infinite;
}

@keyframes vib {
    0%, 25% {
        top: -1px;
        transform: translateX(-2%);
    }
    50%, 100% {
        top: 1px;
        transform: translateX(2%);
    }
}
